body {
	margin:0;
	background-color: #e6e6e6;
}

.navBar {
	list-style-type: none;
	margin: 0;
	padding: 0;
	background-color: #333333;
	overflow: hidden;
	position: sticky
	top: 0;
	border: 1px solid black;
	
}

li {
	float: left;
	font-size: 24px;
}

li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none:
}

li a:hover {
	background-color: #4CAF50;
}

a {
	text-decoration: none;
}

.active {
	background-color: orange;
}

li {
	border-right: 1px solid #bbb;
}

li:last-child {
	border-right: none;
}

.content {
	padding:20px;
}
#aboutHeading {
}

.teamBoxLeft {
	position: fixed:
	left: 20px;
	width: 65%;
	border: 4 px;
	border-style: solid;
	border-color: black;
	background-color:white;
}

#sometext {
	display: flex;
	margin:20px;
}

#textLeft {
	flex: 0 0 80%;
	margin-right:10px;
}

#rightImg {
	flex: 1;
}


.teamBoxRight {
	position: fixed;
	right: 20px;
	width: 65%;
	border: 4 px;
	border-style: solid;
	border-color: black;
	background-color:white;
}

#textRight {
	flex: 0 0 75%;
	margin:10px;
}

#leftImg {
	flex: 1;
	margin:20px;
}