body {
	margin:0;
	background-color: #e6e6e6;
}

.navBar {
	list-style-type: none;
	margin: 0;
	padding: 0;
	background-color: #333333;
	overflow: hidden;
	position: sticky
	top: 0;
	border: 1px solid black;
	
}

li {
	float: left;
	font-size: 24px;
}

li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none:
}

li a:hover {
	background-color: #4CAF50;
}

a {
	text-decoration: none;
}

.active {
	background-color: orange;
}

li {
	border-right: 1px solid #bbb;
}

li:last-child {
	border-right: none;
}

div.gallery {
  margin: 10px;
  border: 1px solid #ccc;
  float: left;
  width: 15%;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}