@import url("https://fonts.googleapis.com/css?family=Coda");

html {
  scroll-behavior: smooth;
}
.sidenav {
  height: 100%; 
  width: 0;
  position: fixed; 
  z-index: 1; 
  top: 0; 
  left: 0;
  background-color: #111; 
  overflow-x: hidden; 
  padding-top: 60px; 
  transition: 0.5s; 
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
 body {
	 background-color: #e6e6e6;
	 margin:0;
	
 }
 
 div.gallery {
  margin: 10px;
  border: 1px solid #ccc;
  float: left;
  width: 200px;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

#main {
	margin-left:20px;
}

.aboutPeopleBox {
	display: flex;
	margin:20px;
}

#left {
	flex: 1;
}

#right {
	flex: 65%;
}

.collapsible {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active, .collapsible:hover {
  background-color: #ccc;
}

.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}

.personalityBox {
	display: flex;
	margin:20px;
}

body {
	font-family: 'Coda';
}

#footer {
	position: bottom;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #8c8c8c;
   color: white;
   text-align: center;
}

#footerCode {
	text-align: right;
	margin-right: 50px;
}